main {
    border: 1px dotted blue;
    width: 300px;
    height: 300px;
    float: left;
}

#1 {
background: black;
}

#2 {
    background: teal;
}
#3 {
    background: tomato;
}

article {
    border: 1px dotted grey;
    height: 300px;
    width: 900px;
    clear: left;
}
#4 {
    background: hotpink;
}
#5 {
    background: indigo;
}
#6 {
    background: lightblue;
}